/* Contact */

.Contact {
    height: 100vh;

    overflow: hidden;

    .contactHeroTxt {
        font-size: 8vw;
        color: #FF8906;
        font-weight: 800;
        letter-spacing: 0.1vw;

        padding-left: 3vw;
        overflow: hidden;
        padding-top: 50px;
    }

    .contactForm {
        /* margin-top: 15%;
      line-height: 2.5vh; */
        margin: auto;
    }
}

input,
textarea {
    /* width: 70%;
    min-width: 200px; */
    width: 30vw;
    margin: 10px;
    border-radius: 20px;
    border: none;
    background: rgba(155, 155, 155, 0.06);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8.5px);
    font-size: calc(11px + 0.390625vw);
    color: #FFFFFE;
    z-index: 1;
    position: relative;
}

.email {
    height: 4vh;
    text-indent: 0.8vw;
}

.subject {
    height: 4vh;
    text-indent: 0.8vw;

    /* padding-left: 0.7vw; */
}

.message {
    height: 31vh;
    padding-top: 15px;
    resize: none;
    /* overflow: scroll; */
}

.contactHeroTxtItem {
    grid-area: contactHeroTxtItem;

}

.contactFormItem {
    grid-area: contactFormItem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin: auto; */
    /* background-color: antiquewhite;
    width: 100%; */
    /* margin-left: 5vw; */
}

.contactSocialsItem {
    grid-area: contactSocialsItem;
    top: 40%;
    position: relative;

}

.contactGridContainer {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
        'contactHeroTxtItem contactHeroTxtItem'
        'contactFormItem contactSocialsItem  '
        'contactFormItem contactSocialsItem  '
        'contactFormItem contactSocialsItem  ';

    gap: 10px;
    padding-top: 5vw;
}

.grid-container>div {
    overflow: hidden;
}



textarea,
input::-webkit-input-placeholder {
    /* WebKit browsers */
    text-indent: 0.8vw;
}

textarea,
input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    text-indent: 0.8vw;

}

textarea,
input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    text-indent: 0.8vw;
}

textarea,
input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    text-indent: 0.8vw;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

button {
    /* Fix width for mobile and tablet with media queries */
    width: 50%;
    min-width: 200px;
    height: 40px;
    outline: none;
    border: 1px solid #fffffe;
    border-radius: 20px;
    background: rgba(155, 155, 155, 0.02);

    -webkit-backdrop-filter: blur(8.5px);
    font-size: calc(11px + 0.390625vw);
    color: #FFFFFE;
    font-weight: 600;
    cursor: pointer;
    z-index: 100;

}


/* use media queries adjust positioning for SVG's */
.blobContact {
    position: absolute;
    background-image: url('data:image/svg+xml,<svg width="536" height="559" viewBox="0 0 536 559" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M388.572 150.276C425.219 170.651 464.062 203.218 471.507 245.882C478.416 289.093 453.928 342.402 424.404 392.881C394.879 443.361 359.89 490.453 322.653 496.053C285.469 501.102 245.608 464.099 209.552 437.65C173.066 410.643 139.902 394.182 131.599 365.327C123.295 336.473 140.282 295.782 146.928 247.218C153.146 198.096 149.452 141.659 170.617 117.607C191.728 94.108 237.644 103.546 277.828 112.358C318.011 121.17 351.926 129.9 388.572 150.276Z" fill="url(%23paint0_linear_272_2)"/><defs><linearGradient id="paint0_linear_272_2" x1="114.683" y1="493.929" x2="539.69" y2="174.848" gradientUnits="userSpaceOnUse"><stop stop-color="%23F87537"/><stop offset="1" stop-color="%23FBA81F"/></linearGradient></defs></svg>');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;


    height: 41vh;
    width: 50vw;
    margin-left: -25vw;
    margin-top: -47vh;
}

.blobContact2 {
    overflow: hidden;
    height: 41vh;
    width: 50vw;
    margin-left: 25vw;
    margin-top: -47vh;
    position: absolute;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    background-image: url('data:image/svg+xml,<svg width="344" height="395" viewBox="0 0 344 395" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M259.89 48.2547C296.536 68.6302 335.379 101.197 342.824 143.861C349.734 187.072 325.246 240.381 295.721 290.86C266.197 341.34 231.207 388.432 193.97 394.032C156.786 399.081 116.926 362.078 80.8689 335.629C44.3834 308.622 11.2191 292.161 2.91596 263.306C-5.38719 234.452 11.5993 193.761 18.2456 145.197C24.4633 96.075 20.7694 39.6379 41.9341 15.5864C63.0453 -7.91297 108.962 1.52549 149.145 10.3371C189.328 19.1486 223.243 27.8793 259.89 48.2547Z" fill="url(%23paint0_linear_738_3)"/><defs><linearGradient id="paint0_linear_738_3" x1="-14.0001" y1="391.908" x2="411.007" y2="72.8271" gradientUnits="userSpaceOnUse"><stop stop-color="%23F87537"/><stop offset="1" stop-color="%23FBA81F"/></linearGradient></defs></svg>');
}


.flex-item-1 {
    font-size: 55px;
    min-width: 500px;
    transform: translateX(10vw);
    z-index: 10000;
}

.flex-item-2 {
    color: #FFFFFE;
    font-size: 55px;
    z-index: 10000;
    min-width: 23vw;
    margin-left: 29vw;
}

.flexContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
    padding-top: calc(60px + 0.5vh);
}

.socialsContainer {
    width: 22vw;
    height: 8vh;
    min-width: 380px;
    border-radius: 20px;
    border: none;
    background: rgba(155, 155, 155, 0.06);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8.5px);
    color: #FFFFFE;
    z-index: 1000;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socialsLogo {
    height: 6vh;
    width: 63px;
    margin-left: 10px;
    cursor: pointer;
    fill: #A7A9BE;
    padding-top: 5px;
}

.socialsLogo:hover {
    fill: #fffffe;
    transition: all 0.1s ease-in-out;
}

.error {
    font-size: calc(11px + 0.390625vw);
    color: #FFFFFE;
    padding-left: 22px
}


.contactBlobContainer {
    overflow: hidden;
    height: 100%;
    width: 5vw;
}

@media (width < 1024px) {

    /* .contactGridContainer {
        grid-template-columns: 1fr;
        grid-template-areas:
            'contactHeroTxtItem contactHeroTxtItem'
            'contactFormItem  contactFormItem'
            'jobLine  descriptionItem'
            ' contactSocialsItem  contactSocialsItem';

        padding-top: 3vh;
        gap: 15px;

    } */


    .contactGridContainer {
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'contactHeroTxtItem'
            'contactFormItem  '
            'contactSocialsItem  '
        ;

        gap: 10px;
        padding-top: 5vw;
    }


    input,
    textarea {
        width: 80vw;
    }

    .contactHeroTxtItem {
        height: auto;
        text-align: center;
    }

    .contactHeroTxt {
        font-size: 15vw !important;
    }

    .contactSocialsItem {
        margin: auto;
        top: 0;
    }

    .socialsContainer {
        width: 80vw;
    }
}

@media (width < 1024px) {
    .blobContact2 {
        overflow: hidden;
        height: 43vh;
        width: 45vw;
        margin-left: 53vw;
        margin-top: -60vh;
    }

}

@media (width < 650px) {
    .blobContact2 {
        overflow: hidden;
        height: 43vh;
        width: 45vw;
        margin-left: 53vw;
        margin-top: -60vh;
    }

    .contactGridContainer {
        padding-top: 15%;
    }

    .socialsContainer {
        width: 22vw;
        height: 8vh;
        min-width: 300px;
    }

    .socialsLogo {
        width: 11vw;
    }

    .blobContact {

        margin-top: -62vh;
    }

}

@media (width < 320px) {

    .socialsLogo {
        width: 15vw;
    }



}