/* Home */

.Home {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.homeHeroTextContainer {
    text-align: left !important;
    line-height: 5vh;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.homeHeroText1 {
    /* use clamp */
    /* font-size: 9vh; */
    font-size: 5vw;
    color: #FFFFFE;
    font-weight: 700;
}

.homeHeroText2 {
    /* font-size: 9vh; */
    font-size: 5vw;
    color: #FF8906;
    font-weight: 700;
}

.homeHeroText3 {
    font-size: 2vw;
    color: #A7A9BE;
    font-weight: 300;
    line-height: 1vh;
}

.homeGridColumnItem1 {
    grid-area: homeGridColumnItem1;
    height: 35vh;
}

.homeGridColumnItem2 {
    grid-area: homeGridColumnItem2;
    height: 35vh;
}

.homeGridColumnItem3 {
    grid-area: homeGridColumnItem3;
    height: 30vh;
}

.homeGridColumn2Item1 {
    grid-area: homeGridColumn2Item1;
    height: 100%;
}

.homeGridColumn2Item2 {
    grid-area: homeGridColumn2Item2;
    height: 100%;
    padding-right: 8vw;
}

.homeGridColumn2Item3 {
    grid-area: homeGridColumn2Item3;
    height: 100%;
}

.homeGridColumn3Item1 {
    grid-area: homeGridColumn3Item1;
    height: 100%;
}

.homeGridColumn3Item2 {
    grid-area: homeGridColumn3Item2;
    padding-right: 5vw;
}

.homeGridColumn3Item3 {
    grid-area: homeGridColumn3Item3;


}

.homeGridContainer {
    display: grid;
    grid-template-columns: 50vw 25vw 25vw;
    grid-template-areas:
        'homeGridColumnItem1 homeGridColumn2Item1 homeGridColumn3Item1'
        'homeGridColumnItem2 homeGridColumn2Item2 homeGridColumn3Item2'
        'homeGridColumnItem3 homeGridColumn2Item3 homeGridColumn3Item3';
}

.curlyBrace {
    transform: rotate(43deg);
    font-size: 48px !important;
    font-weight: 800;
    left: 7vw;
    color: #F25F4C;
    position: relative;
    top: 7vh;
    display: inline-block;
}

.dblApostrophe {
    transform: rotate(43deg);
    font-size: 48px !important;
    font-weight: 800;
    color: #F582AE;
    position: relative;
    top: -5vh;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.and {
    transform: rotate(-43deg);
    font-size: 48px !important;
    font-weight: 800;
    /* left: 7vw; */
    color: #E53170;
    position: relative;
    top: -1vh;
    display: inline-block;
}

.notEqual {
    transform: rotate(-20deg);
    font-size: 48px !important;
    font-weight: 800;
    /* left: 10vw; */
    color: #2CB67D;
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.notEqualMobile {
    display: none;
    transform: rotate(-20deg);
    font-size: 48px !important;
    font-weight: 800;
    left: -10vw;
    color: #2CB67D;
    position: relative;
    top: 0vh;
    justify-content: end;
    align-items: flex-end;
}

.equal {
    transform: rotate(-20deg);
    font-size: 48px !important;
    font-weight: 800;
    left: 5vw;
    color: #3DA9FC;
    position: relative;
    top: -2vh;
    display: flex;
}

.closingTag {
    transform: rotate(40deg);
    font-size: 48px !important;
    font-weight: 800;
    color: #E53170;
    position: relative;
    top: 15vh;
    display: flex;
    justify-content: end;
}

.dollarSign {
    transform: rotate(-20deg);
    font-size: 48px !important;
    font-weight: 800;
    color: #F582AE;
    position: relative;
    top: 15vh;
    display: flex;
    justify-content: end;
}

.semicolon {
    transform: rotate(20deg);
    font-size: 48px !important;
    font-weight: 800;
    /* left: 5vw; */
    color: #6246EA;
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: end;
}

.semicolonMobile {
    transform: rotate(20deg);
    font-size: 48px !important;
    font-weight: 800;
    color: #6246EA;
    position: relative;
    display: none;
}

.squareBrackets {
    transform: rotate(25deg);
    font-size: 48px !important;
    font-weight: 800;
    left: 7vw;
    color: #3DA9FC;
    position: relative;
    top: 2vh;
    display: inline-block;
}


.and2 {
    transform: rotate(-30deg);
    font-size: 48px !important;
    font-weight: 800;
    color: #E53170;
    position: relative;
    top: 25vh;
    display: flex;
    justify-content: end;
}

.backticks {
    transform: rotate(-30deg);
    font-size: 48px !important;
    font-weight: 800;
    left: 12vw;
    color: #F25F4C;
    position: relative;
    top: 5vh;
    position: relative;
    display: inline-block;
}

.lessOrEqual {
    transform: rotate(-20deg);
    font-size: 48px !important;
    font-weight: 800;
    left: 12vw;
    color: #F582AE;
    position: relative;
    top: 15vh;
    position: relative;
    display: inline-block;
}

@media screen and (width < 1024px) {
    .homeHeroText1 {
        /* use clamp */
        /* font-size: 9vh; */
        font-size: 8vw;
    }

    .homeHeroText2 {
        font-size: 8vw;
    }

    .homeHeroText3 {
        font-size: 3vw;
    }

}

@media screen and (width < 900px) {

    .homeGridContainer {
        grid-template-columns: 50vw 50vw;
        grid-template-areas:
            'homeGridColumnItem1 homeGridColumn2Item1'
            'homeGridColumnItem2 homeGridColumn2Item2'
            'homeGridColumnItem3 homeGridColumn2Item3';
    }

    .curlyBrace {
        transform: rotate(43deg);
        font-size: 48px !important;
        font-weight: 800;
        left: 7vw;
        color: #F25F4C;
        position: relative;
        top: 7vh;
        display: inline-block;
    }

    .dblApostrophe {
        top: 1vh;
    }

    .and {
        left: 10vw;
    }

    .notEqual {
        left: 30vw;
    }

    .backticks {
        top: -2vh;
    }

    .and2 {
        top: 12vh;
    }

    .homeHeroText1 {
        /* use clamp */
        /* font-size: 9vh; */
        font-size: 10vw;
    }

    .homeHeroText2 {
        font-size: 10vw;
    }

    .homeHeroText3 {
        font-size: 4vw;
    }

    .notEqualMobile {
        display: flex;
        left: 40vw;
        top: 25vh;
    }

    .dollarSign {
        top: 25vh;
    }

}

@media screen and (width < 450px) {

    .homeGridContainer {
        grid-template-columns: 100vw;
        grid-template-areas:
            'homeGridColumnItem1'
            'homeGridColumnItem2 '
            'homeGridColumnItem3';
    }

    .homeHeroTextContainer {
        /* top: 25%; */
        line-height: 3vh;
    }

    .homeHeroText1 {
        /* use clamp */
        /* font-size: 9vh; */
        font-size: 12vw;
    }

    .homeHeroText2 {
        font-size: 12vw;
    }

    .homeHeroText3 {
        font-size: 4.3vw;
    }

    .curlyBrace {
        top: 25vh
    }

    .notEqualMobile {
        display: flex;
        left: -10vw;
        top: 0vh;
    }

    .semicolonMobile {
        display: flex;
        left: 10vw;
        top: 3vh;
    }

    .squareBrackets {
        top: -8vh;
    }

    .and2 {
        top: -2vh;
    }
}